* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

html, body {
    margin: 0 auto;
}

.wrap-body {
    width: 100%;
    margin: 0 auto;
}

.wrap-body img {
    display: block;
    width: 100%;
}

.lo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -80px 0 0 0;
}

.item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 60px;
    margin: 0 12px;
    background: linear-gradient(to right, #f0daa1, #dbaa5e);
    color: red;
    border-radius: 2px;
    font-size: 20px;
    z-index: 9;
}

.txtScroll-left {
    background: black;
}

.txtScroll-left .bd {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
}

.txtScroll-left .bd ul {
    overflow: hidden;
    zoom: 1;
}

.txtScroll-left .bd ul li {
    margin-right: 20px;
    float: left;
    line-height: 24px;
    text-align: left;
    _display: inline;
}

.txtScroll-left .bd ul li span {
    color: #999;
}