* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0 auto;
}

.wrap-body {
    width: 750px;
    width: 100%;
    margin: 0 auto;
}

.wrap-body img {
    display: block;
    width: 100%;
}

.btn {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 40px;
    margin: -80px auto 0;
    background: linear-gradient(to right, #f0daa1, #dbaa5e);
    color: red;
    border-radius: 2px;
    z-index: 9;
}