
:root {
  --mr-color-primary: #e23d29;
  --mr-color-success: #00b42a;
  --mr-color-warning: #ff7d00;
  --mr-color-info: var(--mr-color-primary);
  --mr-color-error: #f53f3f;
  --mr-color-text: #333333;
  --mr-color-bg: #333333;
  --mr-fontsize: 24rpx;
  --mr-size-step: 8rpx;
  --mr-size-unit: 8rpx;
  --mr-border-radius: 12rpx;
  --mr-color-primary-bg: #fff4f0;
  --mr-color-primary-bg-hover: #ffdcd1;
  --mr-color-primary-border: #ffbaa8;
  --mr-color-primary-border-hover: #fc937e;
  --mr-color-primary-hover: #f06751;
  --mr-color-primary-active: #bd2319;
  --mr-color-primary-text-hover: #f06751;
  --mr-color-primary-text: #e23d29;
  --mr-color-primary-text-active: #bd2319;
  --mr-color-success-bg: #dcf5de;
  --mr-color-success-bg-hover: #95e89d;
  --mr-color-success-border: #69db78;
  --mr-color-success-border-hover: #42cf5a;
  --mr-color-success-hover: #42cf5a;
  --mr-color-success-active: #008f26;
  --mr-color-success-text-hover: #1fc240;
  --mr-color-success-text: #00b42a;
  --mr-color-success-text-active: #00b42a;
  --mr-color-warning-bg: #fff6e6;
  --mr-color-warning-bg-hover: #ffdca3;
  --mr-color-warning-border: #ffc87a;
  --mr-color-warning-border-hover: #ffb152;
  --mr-color-warning-hover: #ffb152;
  --mr-color-warning-active: #d96200;
  --mr-color-warning-text-hover: #ff9729;
  --mr-color-warning-text: #ff7d00;
  --mr-color-warning-text-active: #d96200;
  --mr-color-info-bg: #fff4f0;
  --mr-color-info-bg-hover: #ffdcd1;
  --mr-color-info-border: #ffbaa8;
  --mr-color-info-border-hover: #fc937e;
  --mr-color-info-hover: #f06751;
  --mr-color-info-active: #bd2319;
  --mr-color-info-text-hover: #f06751;
  --mr-color-info-text: #e23d29;
  --mr-color-info-text-active: #bd2319;
  --mr-color-error-bg: #fff2f0;
  --mr-color-error-bg-hover: #ffe9e6;
  --mr-color-error-border: #ffc3bd;
  --mr-color-error-border-hover: #ff9b94;
  --mr-color-error-hover: #ff706b;
  --mr-color-error-active: #cf2b31;
  --mr-color-error-text-hover: #ff706b;
  --mr-color-error-text: #f53f3f;
  --mr-color-error-text-active: #cf2b31;
}



